<!DOCTYPE html>
<html>
<head>
  <title>FlybyshanghaiBlog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<p class="flash"><%= flash.notice %></p>
<% flash.each do |type, message| %>
<div class="alert flash <%= type %>">

  <%= message %>
</div>
</div> 
<% end %>

<%= yield %>

</body>
</html>
